@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sim-input-box {
  width: 50ch; /* Width of approximately 100 characters */
  padding: 0.5em; /* Padding for a better user experience */
  border: 2px solid #787777; /* Border style */
  background-color: rgb(212, 220, 220);
  border-radius: 4px; /* Slightly rounded corners */
  font-size: 2rem; /* Ensure consistent text size */
  text-align: left;
  color: rgb(51, 65, 85);
}

.grid-center-container {
  display: grid;
  place-items: center; /* Centers content horizontally and vertically */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 191, 219, 254;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

div {
  word-break: break-word
}
